.content-item
  margin-bottom: 3rem

  .big-text
    font-family: $font-family-header
    font-size: 2rem

.content-item--editable-content
  position: relative

.content-item--editing
  outline: none
  box-shadow: 0 0 0 1px $grey-75

.save-button
  margin: 1rem 0
  float: right
